@model App.ViewModels.ProductViewModel
@inject App.Services.CategoryService categoryService;
@{
    ViewData["Title"] = "AddProduct";
}

<h1>Add</h1>
<form asp-controller="Product" asp-action="Add" method="post">
    <div>
        <label>Choose category:</label>
        <select asp-for="CategoryId">
            @{
                foreach (CategoryModel cm in categoryService.GetAll())
                {
                    <option value="@cm.Id">@cm.Name</option>
                }
            }
        </select>
        <p class="alert-danger"> @Html.ValidationMessageFor(model => model.CategoryId) </p>
    </div>
    <div>
        <label>ProductName:</label>
        <input type="text" asp-for="ProductName" />
        <p class="alert-danger"> @Html.ValidationMessageFor(model => model.ProductName) </p>
    </div>

    <div>
        <label>Description:</label>
        <textarea asp-for="Description"></textarea>
        <p class="alert-danger"> @Html.ValidationMessageFor(model => model.Description) </p>
    </div>
    <div>
        <label>Price:</label>
        <input asp-for="Price" />
        <span asp-validation-for="Price" class="text-danger"></span>
        <p class="alert-danger"> @Html.ValidationMessageFor(model => model.Price) </p>
    </div>
    <!--
    <div>
        <label>Image:</label>
        <input asp-for="ImageFile" type="file" name="Image" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
        <p class="alert-danger"> Html.ValidationMessageFor(model => model.ImageFile) </p>
    </div>
    <div>
        using (Html.BeginForm("Add", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="file" />
            <input type="submit" name="Submit" id="Submit" value="Upload" />
        }
    </div>
    <input type="submit" value="Upload" />
    <button type="submit">Add Product</button>
    -->
    <input type="submit" value="Submit">
</form>