@model List<ProductModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Available Products:</h1>
<table class="table">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Details</th>
            <th>Add to cart</th>
            <th>Image1</th>
        </tr>
    </thead>
    <tbody>
        @{int lp = 0; }
        @foreach (var product in Model)
        {
            lp++;
        <tr style="background-color: white">
            <td> @lp                                            </td>
            <td> @product.Name                                      </td>
            <td> @product.Category                                  </td>
            <td> @product.Price                                     </td>
            <td> <a href="~/Product/Details/@product.Id">Details</a></td>
            <td> <a href="~/Product/AddToCart/@product.Id">Add</a>  </td>
            <td>
                @{
                    if (@product.Image != null)
                    {
                        <img width="100" src="@product.Image.FilePath" />
                    }
                }
            </td>
        </tr>
        }
    </tbody>
</table>
